{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="title">Something went wrong with you search term... but don't worry. Good news is that we are here to guide you :)</div>
        <div class="error-description">
            It seems that you made some error while providing search term.<br />

            We found error(s) in your term:<br /><br />
            <ul>
                {% for error in errors %}
                    <div><li>{{ error.message }}</li></div>
                {% endfor %}
            </ul>

            <br /><br />
            Here are the rules for when specifying search term:<br />
            - use letters and digits and some special characters ()<br />
            - search term can be 255 characters long
        </div>
    </div>
{% endblock %}
