{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="title">
            <h1>Something went wrong with you search term during data managing...</h1>
        </div>
        <div class="error-description">
            Good news is that our team is notified about this and we'll keep working to fix this issue.<br />
            You can always try again to search for some term.<br />
            We can show you example of API request: https://our-site.com/score?term=london
        </div>
    </div>
{% endblock %}
