{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="title">
            <h1>Something went wrong with you search term...</h1>
        </div>
        <div class="error-description">
            It seems that you forgot to provide search term up to our API.
            Url parameter <strong>term</strong> is required and it can't be empty or missing.<br /><br />
            We can show you an example of success API request: <strong>https://our-site.com/score?term=london</strong>
        </div>
    </div>
{% endblock %}
